body {
    font:14px 'Open Sans', sans-serif;
    color:#363636;
    font-weight:normal;
}

/* CSS Menu Drop Down */
ul {
    border-radius: 5px;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    position: relative;
    background: #fff;
}
ul:after {
    content: "";
    display: block;
    clear: both;
}
ul li {    
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
}
ul li a {    
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    color: #666;
}
ul li ul {
    display: none;
    position: absolute;
    top: 39px;
    border-radius: 0 0 5px 5px;
}
ul li ul li {
    float: none;
    text-align: left;
}
.active {
    background: #f9f9f9;
}